@model MVC_Lab.Models.Subscription

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Subscription</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chatroom.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chatroom.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
