<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li>@Html.ActionLink("Chatrooms", "Index", "Chatroom")</li>
        <li>@Html.ActionLink("Subscriptions", "Index", "Subscription")</li>
    </ul>
</nav>