@model MVC_Lab.Models.Chatroom

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Chatroom</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ChatroomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
